// Local docs variables
$bd-red:        $red !default;
/* $bd-purple-bright: lighten(saturate($bd-purple, 5%), 15%) !default;
$bd-purple-light:  lighten(saturate($bd-purple, 5%), 45%) !default; */
$bd-bloom: 		   $bloom !default;
$bd-dark:          $ash !default;
$bd-download:      $leaf !default;
$bd-info:          $sky !default;
$bd-warning:       $mesa !default;
$bd-danger:        $bloom !default;

// Enable responsive font sizes for font sizes defined in the docs
// The weird if test is made as a workaround to prevent a false fusv error.
//
// stylelint-disable-next-line scss/dollar-variable-default
$enable-responsive-font-sizes: if($enable-responsive-font-sizes, true, true);
